upstream dnevnik {
  server unix:/var/run/dnevnik-fpm.sock;
}

server {
  listen 80 default_server;
  listen [::]:80 default_server ipv6only=on;

  root /var/www/dnevnik;
  index index.html index.htm;

  # Make site accessible from http://localhost/
  server_name {{ engine.hostname }};

  location / {
    try_files $uri $uri/ /index.php;

    location ~ \.php$ {
      fastcgi_split_path_info ^(.+\.php)(/.+)$;
      
      # With php5-fpm:
      fastcgi_pass unix:/var/run/dnevnik-fpm.sock;
      fastcgi_index index.php;
      include fastcgi_params;
    }
  }

}